@font-face {font-family: Sans MS pixel rus eng; src: url('/assets/fonts/Comic Sans MS Pixel.ttf')}
@font-face {font-family: Chinese Rocks; src: url('/assets/fonts/CHINESE ROCKS RG.OTF');}
@font-face {font-family: Jogrunge; src: url(/assets/fonts/JOGRUNGE.OTF);}
@font-face {font-family: Splendid; src: url(/assets/fonts/SPLENDIDN.TTF); font-weight:normal}
@font-face {font-family: Splendid; src: url(/assets/fonts/SPLENDIDB.TTF); font-weight:bold}
@font-face {font-family: ErikaReg; src: url(/assets/fonts/ERIKA\ PL.OTF);}
@font-face {font-family: Minecraft Seven; src: url(/assets/fonts/MINECRAFT-SEVEN_V2.TTF);}
@font-face {font-family: Intuitive; src: url(/assets/fonts/INTUITIVE\ FREE.TTF);}
@font-face {font-family: Old Dreams; src: url(/assets/fonts/OLD\ DREAMS.TTF);}