@font-face {font-family: Sans MS pixel rus eng; src: url('assets/Comic Sans MS Pixel.ttf')}

html{
    background-image:url("assets/kranckman.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    font-family: 'Sans MS pixel rus eng';
}

body{
    width: 65%;
    margin: 0px 50px;
    left: 50px;
}

a {
    text-decoration: none;
    color: rgb(255, 144, 163);
}

main{
    display: flex;
    width:100%;
    align-items: center;
    margin:60px auto;
}

main *{
    margin: auto 10px;
}

aside{
    width:40%;
    background-color:greenyellow;
    padding: 10px 30px 10px 10px;
}

nav{
    margin: 0 auto 15px;
}

img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.disclaimer{
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:25px;
}

section{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 10px auto;
}

ul{
    list-style: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

li{
    font-size:larger;
}

