@font-face {font-family: Sans MS pixel rus eng; src: url('assets/Comic Sans MS Pixel.ttf')}

html{
    background-image:url("assets/kranckman.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    font-family: 'Sans MS pixel rus eng';
}

body{
    width: 65%;
    margin: 0px 50px;
    left: 50px;
}

a {
    text-decoration: none;
    color: rgb(255, 144, 163);
}

main{
    display: flex;
    width:100%;
    margin:60px auto;
    gap:20px;
}

aside{
    width:40%;
    background-color:greenyellow;
    padding: 10px 20px 15px;
    border-radius: 15px;
    height: fit-content;
}

aside>div{
    margin:20px auto 0px;
}

img{
    width: 100%;
    height: auto;
}

.disclaimer{
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:25px;
}

ul{
    list-style: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

li{
    font-size:x-large;
}

main article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%;
}

main section{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-around;
    text-align: center;
    padding: 20px 20px 20px;
    margin: 0px auto 10px;
    background-color:rgb(216, 243, 242);
    border-radius: 15px;
    gap:20px;
}

section *{
    margin:0;
    padding:0;
}

@media screen and (max-width: 40em) {
    main{
        flex-direction: column;
    }

    body{
        width: 95%;
        margin: 10px;
        left:0px;
    }

    aside{
        width:auto;
    }

    article{
        width: auto;
    }

    main section{
        width:auto;
    }

    *{
        border:1px solid red;
    }
  }
  