@font-face {font-family: Sans MS pixel rus eng; src: url('assets/Comic Sans MS Pixel.ttf')}

body{
    background-image:url("assets/kranckman.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    font-family: 'Sans MS pixel rus eng';
}

.money{
    font-size: large;
    text-align: center;
    margin: auto;
    font-family: 'Sans MS pixel rus eng', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 144, 163);
}


iframe{
    display:block;
}

.maindiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.center{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50,-50%);
    transform:translate(-50%,-50%);
}

.footer{
    height:22vh;
    display:flex;
    justify-content: center;
}

.header{
    padding:20px;
    display:flex;
    justify-content: center;
}

p{
    font-family: 'Sans MS pixel rus eng';
}

.contact{
    align-content: left;
}

.maincontent{
    top:200px;
    margin-left:10px;
    margin-right:10px;
}

.kranck{
    height:fit-content;
    width:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left:10px;
    margin-right:10px;
}

.content{
    display:flex;
    flex-direction: row;
    width:65%;
    align-items: center;
    height:100vh;
    justify-content: space-between;
    padding-left:80px;
    margin:10px;
}

.disclaimer{
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:25px;
}

.virus{
    position: fixed;
    bottom:10px;
    right: 10px;
}

button{
    box-sizing:border-box;
    border:none;
    background:grey;
    box-shadow:inset -1px -1px lightslategray,inset 1px 1px white, inset -2px -2px darkmagenta,inset 2px 2px lightyellow;
    border-radius: 0;
    color:aliceblue;
    font-size:larger;
}

